<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <Link rel='icon' href='/img/weather.png'>
    <Link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="./js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Vishal. It uses data from mapbox.com and weatherstack.com.</p>
        <img class='portrait' src="./img/molu2.jpg">
    </div>
    {{>footer}}
</body>
</html>