<!DOCTYPE html>

<html>
<head>
    <title>Weather</title>
    <Link rel='icon' href='/img/weather.png'>
    <Link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>Use this site to get your weather</p>

        <form>
            <input placeholder="location"/>
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

        <script type="text/javascript" src="./js/app.js"></script>
    </div>
    {{>footer}}
</body>
</html>